@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    background-color: #fcd2b8;
}
#tittle {
    width: 100%;
    height: 15%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
  }
  #txtBirthday {
    font-size: 43px;
    font-family: 'Satisfy', cursive;
    color: rgb(243, 21, 89);
    margin: 0 0 0 0;
    position: relative;
  }
  #txtOnline {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: rgb(149, 94, 155);
    margin: 0 0 0 0;
    position: relative;
    top: -30px;
  }
  #credit {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: rgb(152, 152, 152);
    position: relative;
    top: -40px;
  }
  #cakeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    position: relative;
  }
  .cakeImg {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .cakeImg img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  #partyContainer {
    display: none;
    position: relative;
    width: 100%;
    height: 70%;
    justify-content: center;
  }
  .cakeSelected {
    height: 100%;
    object-fit: cover;
  }
  
  #controlContainer {
    top: 5%;
    height: 10%;
    position: relative;
    display: none;
    justify-content: center;
  }
  .btnControl {
    height: 70%;
    border-radius: 10px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  #btnChange {
    background-color: rgb(243, 126, 32);
  }
  #btnStart {
    background-color: rgb(249, 121, 180);
  }
  #candleContainer {
    position: absolute;
  }
  .candle {
    position: relative;
  }
  #wishContainer {
    border-radius: 10%;
    padding: 2% 2% 2% 2%;
    width: 80%;
    left: 10%;
    position: absolute;
    background-color: rgb(249, 121, 180);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fcd2b8;
    z-index: 1;
    text-align: center;
    display: none;
  }
 .wishTittle {
    font-size: 30px;
    color: rgb(141, 62, 99);
 }
 .endMessage {
    font-size: 22px;
    color: rgb(141, 62, 62);
    font-style: italic;
 }
 #wishContent {
    background-color: #fcd2b8;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: rgb(141, 62, 62);
    width: 80%;
    height: 10vw;
 }
 #btnWish {
    background-color: rgb(149, 94, 155);
 }
 #wishGallery {
    text-align: center;
    display: none;
    height: 10%;
    top: 5%;
    position: relative;
    justify-content: center;
  
 }
 #btnWishGallery {
    background-color: red;
 }