@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&family=Satisfy&display=swap');
html {
  background: url('../img/background.png') no-repeat center center fixed;
  background-size: cover;
}
#howtouseContainer {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center; 
  align-items: center;
  position: absolute;
  z-index: 100;
}
#btnClsHowtouse {
  width: 30%;
  height: 10%;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(243, 126, 32);
  position: relative;
  font-size: 36px;
  font-family: "Oswald";
  color: rgb(252, 210, 184);
  font-weight: 600;  
}
#howtouse {
  width: 70%;
  height: 70%;
  border-radius: 91px;
  background-color: rgb(249, 121, 180);
  justify-content: center; 
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  text-align: center;
}
.txtHowtouse {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
#txtTittleHTU {
  font-size: 60px;
  color: #fcd2b8;
  font-weight: 600;
  line-height: 1.2;
  display: block;
}
#txtContentHTU {
  font-size: 29.496px;
  display: block;
  color: white;
  font-weight: 400;
}
#container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  text-align: center;
}
#txtBirthday {
  font-size: 120px;
  font-family: 'Satisfy', cursive;
  color: rgb(243, 21, 89);
  margin: 0 0 0 0;
  position: relative;
  top: 80px;
}
#txtOnline {
  font-size: 90px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: rgb(149, 94, 155);
  margin: 0 0 0 0;
  position: relative;
  top: -5px;
}
#credit {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  color: rgb(152, 152, 152);
  position: relative;
  top: -35px;
}
#age {
  display: flex;
  text-align: center;
  justify-content: center;
}
#txtIm {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: rgb(255, 236, 175);
  line-height: 2;
}
#inpName {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: rgb(255, 176, 127);
  font-weight: bold;
  line-height: 1;
  width: 150px;
  border: none;
}
#inpYears {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: rgb(255, 176, 127);
  font-weight: bold;
  line-height: 1;
  width: 70px;
  border: none;
}
.cakeContainer {
  width: 100%;
  float: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.btnCake {
  border-radius: 10px;
  height: 65px;
  text-align: center;
  position: relative;
  display: block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.txtBtnCake {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  line-height: 60px;
}
#topCake {
  top: 25px;
}
#candleContainer {
  justify-content: center;
  margin: 10px auto;
}
#candle {
  background-color: #f2abe7;
  width: 20px;
  height: 55px;
  position: relative;
  top: 15px;
}
#light {
  width: 25px;
  height: 25px;
  position: relative;
  top: -5px;
  left: -3px;
  background-color: #fec31e;
  border-radius: 0 50% 50%;
  transform: rotate(45deg);
}
#pinkCake {
  background-color: rgb(255, 82, 162);
  width: 224px;
}
#pinkCake:hover {
  background-color: rgb(205, 53, 124);
}
#botCake {
  top: 20px;
}
#orangeCake {
  background-color: rgb(240, 159, 46);
  width: 274px;
}
#orangeCake:hover {
  background-color: rgb(164, 85, 25);
}
#redCake {
  background-color: rgb(243, 21, 89);
  width: 324px;
}
#redCake:hover {
  background-color: rgb(188, 12, 65);
}

#balloon-container {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
  z-index: -1;
}
.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}
.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #FDFD96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}
.balloon:after {
    content: "▲";
    text-align: center;
    display: block;
    position: absolute;
    color: inherit;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
}
@keyframes float {
  from {transform: translateY(100vh);
  opacity: 1;}
  to {transform: translateY(-300vh);
  opacity: 0;}
}
#starsContainer {
	position: absolute;
	top: 0;
	width: 550px;
	height: 100px;
	padding: 20px 10px;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.star {
	height: 50px;
	width: 50px;
	color: #ffcc00;
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 1;
	font-size: 30px;
	opacity: 0;
}
